// @import'./reset';
@import "./variables";
@import "./mixin";

body {
  background-color: $successColor;
}

// **************Nested SCSS*******

.mainPara {
  @include flexCenter(row);
  width: 100%-10%;
  margin: 0 auto;
  border: 3px solid black;
  .historyofPak1 {
    font-weight: map-get($font-weight, regular);
    font-size: map-get($font-size, regular);
    color: $blackColor;
    &:hover {
      color: $colorRed;
    }
  }
  .historyofPak2 {
    @extend .historyofPak1;
    &:hover {
      color: $yellowColor;
    }
  }
  // 3r example using media query
  @include mobile {
    flex-direction: column;
    background-color: $yellowColor;
  }
}
// *********************************
// Example 2
.light {
  @include theme($light-theme: true);
}
